.page-header .page-header-top .page-logo .logo-default {
    margin: 10px 0 0;
}

.m-header-menu .m-menu__nav>.m-menu__item .m-menu__submenu>.m-menu__subnav .m-menu__content .m-menu__inner>.m-menu__item {
    padding-top: 10px !important;
}

@media (min-width: 1025px) {
    .m-header-menu .m-menu__nav>.m-menu__item .m-menu__submenu {
        width: 275px !important;
        margin: 0 auto;
        left: auto;
        right: auto;
    }
    .m-header-menu .m-menu__nav>.m-menu__item .m-menu__submenu>.m-menu__subnav .m-menu__content .m-menu__inner {
        padding: 10px 0;
    }
}

.m-footer {
    line-height: 60px;
    @media (max-width: 1025px) {
        text-align: center
    }
    @media (max-width: 500px) {
        line-height: normal
    }
}

.m-dropdown.m-dropdown--align-center.m-dropdown--large .m-dropdown__wrapper {
    width: 380px;
    margin-left: -225px;
}